[submodule "Parchment/vendor/spdlog"]
	path = Parchment/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Parchment/vendor/GLFW"]
	path = Parchment/vendor/GLFW
	url = https://github.com/LyricsCoooder/glfw
[submodule "Parchment/vendor/imgui"]
	path = Parchment/vendor/imgui
	url = https://github.com/LyricsCoooder/imgui
